*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // font-size: 62.5%; // 1rem  = 10px , 10/16 = 62.5%
  font-size: 100%; // 1rem = 16px
}

body {
  box-sizing: border-box;
  background: #f1f2f5;
}
